<<<<<<< HEAD
body {
    font-family: 'Asap', sans-sriff;
}
label {
	font-weight: bold;
}

.table-header{
	font-weight: bold;
}

.trash-train {
	width:  25px;
	height: 25px;
}

.form-validation {
	color: red;
=======
body {
    font-family: 'Asap', sans-sriff;
}
label {
	font-weight: bold;
}

.table-header{
	font-weight: bold;
}

.trash-train {
	width:  25px;
	height: 25px;
}

.form-validation {
	color: red;
>>>>>>> 37c463bcf5e77962809ab9c600aeef1287a1efac
}